<h2>Reactivos:</h2>
<small>Dinamicos</small>
<hr />

<form autocomplete="off">
  <!--Nombre-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de la persona"
      />
      <span class="form-text text-danger">
        Este Campo es obligatorio
      </span>
    </div>
  </div>

  <!--Agregar favorito-->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control" placeholder="Agregar favorito" />

        <button class="btn btn-outline-warning" type="button">
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!--Lista de Juegos Favoritos-->
  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div class="input-group">
        
      </div>
    </div>
  </div>
  <!--Ver para arreglar ngModel-->
  <div class="row">
    <div class="col-sm-12">
      <button
        type="submit"
        name="add_to_cart"
        id="Validar"
        class="btn btn-warning add_to_cart float-end"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
